DATABASE_URL=postgresql://localhost:5432/build_easy

MINIO_ENDPOINT=http://localhost:9000
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_REGION=us-east-1
MINIO_BUCKET=build-easy
JWT_SECRET=your_jwt_secret_key